<h1 class="text-4xl font-coustard my-10 text-center">Mon panier</h1>
<div class="flex justify-center items-center">
    <table
        class="table-auto border border-primary rounded-lg overflow-hidden shadow-lg shadow-font/50 w-3/4 text-left"
    >
        <thead class="bg-secondary/10">
            <tr>
                <th class="p-4 border-b border-orange">Produit</th>
                <th class="p-4 border-b border-orange">Prix</th>
                <th class="p-4 border-b border-orange">Quantité</th>
                <th class="p-4 border-b border-orange">Total</th>
            </tr>
        </thead>
        <tbody>
            @for (item of cart(); track $index) {
                <tr>
                    <th class="p-4 border-b border-primary/50">
                        {{ item.offerId }}:{{ item.eventId }}
                    </th>
                    <td class="p-4 border-b border-primary/50">
                        {{ item.price }}
                    </td>
                    <td class="p-4 border-b border-primary/50">
                        <button
                            type="button"
                            (click)="decrement(item.offerId, item.eventId)"
                            class="px-2.5 mr-4 border rounded-full"
                            [disabled]="item.quantity === 0"
                        >
                            -</button
                        >{{ item.quantity
                        }}<button
                            type="button"
                            (click)="increment(item.offerId, item.eventId)"
                            class="px-2 ml-4 border rounded-full"
                            [disabled]="item.quantity === 10"
                        >
                            +
                        </button>
                    </td>
                    <td class="p-4 border-b border-primary/50">
                        {{ item.total }}
                    </td>
                    <td>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6"
                            (click)="deleteItem(item.offerId, item.eventId)"
                            (keyup.enter)="deleteItem(item.offerId, item.eventId)"
                            tabindex="0"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                            />
                        </svg>
                    </td>
                </tr>
            }
            <tr>
                <td
                    colspan="3"
                    class="p-4 border-b border-primary/50 text-right font-bold"
                >
                    Total :
                </td>
                <td class="p-4 border-b border-primary/50">
                    {{ totalCart() }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
