<!-- description section -->
<section class="flex flex-col justify-center items-center relative">
    <h1 class="w-3/4 text-2xl font-coustard my-10 text-center">
        Découvrez nos offres:
    </h1>
    <div class="border-2 border-orange h-full absolute top-20 -z-10"></div>
    <div class="flex flex-col items-center justify-center w-3/4 gap-10">
        @for (offer of offers; track $index) {
            <div
                class="flex flex-col border rounded-lg overflow-hidden shadow-lg shadow-cyan-900/50 md:flex-row"
                [ngClass]="{ 'md:flex-row-reverse': $index % 2 === 0 }"
                
            >
                <div class="md:w-2/3">
                    <img
                        [src]="offer.imgUrl"
                        alt="{{ offer.title }}"
                        class="h-60 w-full object-cover "
                    />
                </div>
                <div class="space-y-2 p-2 bg-gray-100">
                    <h2 class="text-center text-xl font-coustard">
                        {{ offer.title | titlecase }}
                    </h2>
                    <p>{{ offer.description }}</p>
                    <p>Tarif: {{ offer.price | currency }}</p>
                </div>
            </div>
        }
    </div>
</section>
<!-- form resa -->
<div class="w-3/4"></div>
