/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

body, html {
    height: 100%;
}

@theme {
    --color-primary: #3d5a80;
    --color-secondary: #98c1d9;
    --color-call-to-action: #e0fbfc;
    --color-orange: #ee6c4d;
    --color-font: #293241;
    --font-montserrat: "Montserrat", sans-serif;
}
