<section class="m-4 text-pretty">
    <div class="space-y-2">
        <h1 class="font-coustard text-2xl text-balance text-center">
            Bienvenue sur la Billetterie Officielle des Jeux Olympiques !
        </h1>
        <p>
            Vivez l'émotion des Jeux Olympiques en réservant vos places dès
            maintenant ! Assistez aux performances des plus grands athlètes du
            monde et plongez au cœur de la compétition dans une ambiance
            exceptionnelle.
        </p>
        <ul class="flex flex-col justify-center">
            <li class="p-2">
                <h2 class="font-coustard">🏟️ Des épreuves inoubliables :</h2>
                <p>
                    athlétisme, natation, gymnastique, football et bien plus
                    encore !
                </p>
            </li>
            <li class="p-2">
                <h2 class="font-coustard">🎫 Des billets pour tous :</h2>
                <p>
                    choisissez vos offres et réservez facilement en quelques
                    clics.
                </p>
            </li>
            <li class="p-2">
                <h2 class="font-coustard">🌍 Un événement mondial :</h2>
                <p>vibrez avec des fans venus des quatre coins du monde.</p>
            </li>
        </ul>
        <p>
            Ne manquez pas cette occasion unique de faire partie de l'histoire.
            Réservez dès maintenant et préparez-vous à vivre la magie des Jeux !
            ✨
        </p>
        <p class="italic">#Paris2025 #JeuxOlympiques #BilletterieOfficielle</p>
    </div>
    <div class="flex justify-center my-4">
        <div class="accordion">
            <div class="accordion-content">
                <img
                    src="/Anneaux olympiques sur le Trocadro.webp"
                    alt="Photo des anneaux olypiques sur la Tour Eiffel"
                    class="accordion-img"
                />
            </div>
            <div class="accordion-content">
                <img
                    src="/olympia-68773_1280.jpg"
                    class="accordion-img"
                    alt="Stèle récapitulatives des dates des Jeaux Olympiques"
                />
            </div>
            <div class="accordion-content">
                <img
                    src="/edf-jop2024-vasque-illus-1.webp"
                    class="accordion-img"
                    alt="Photo du ballon de la flamme Olympique"
                />
            </div>
        </div>
    </div>
</section>
<section class="event flex flex-col justify-center items-center">
    <h2 class="w-2/3 text-center my-2">Parmi les sports les plus populaires, retrouvez :</h2>
    <ul class="flex flex-col justify-center items-center">
        @for (event of events; track event.id) {
            <li class="m-3 w-56 h-56 rounded-lg bg-secondary overflow-hidden">
                <img
                    class="h-1/2 w-full object-cover object-top  "
                    src="{{ event.imgUrl }}"
                    alt=""
                />
                <div class="p-2 h-1/3 relative">
                    <h2 class="text-xl font-bold font-coustard">
                        {{ event.title | titlecase }}
                    </h2>
                    <p class="truncate w-full">{{ event.description }}</p>
                    <button onclick="showMore()" class="absolute -bottom-8 right-2 border rounded-lg p-1">voir +</button>
                </div>
            </li>
        }
    </ul>
</section>
